@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif !important;
}
.mainHeader {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}
.mainHeader img {
    width: 184px;
}
header.sticky.sticky-header .vehicle-lookup .cta.sub {
    min-width: 70px;
}
.cta.primary {
    background-color: #00a94e;
    color: #fff;
}
.cta:not(.cta-text,.cta-back,.cta-image) {
    border: 2px solid transparent;
}
.cta {
    background-color: #777;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    min-height: 54px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}
header.sticky.sticky-header .vehicle-lookup .vrm {
    font-size: 18px!important;
    width: 100%;
    height: 100%;
}
input#header-mvtb-vrm-input {
    background-image: url(../../images/vrm-uk.png);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
    height: 54px;
    width: 100%;
    line-height: 1;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #777777;
    border-radius: 5px;
}
input.vrm.ng-untouched.ng-pristine.ng-invalid {
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
    height: 54px;
    width: 100%;
    line-height: 1;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #777777;
    border-radius: 5px;
}

.headToggler {
    float: right;
}
.menu-bars {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    display: inline-block;
    height: auto;
    transition: .25s ease-out;
}
.menu-bar-1 {
    width: 17px;
    height: 2px;
    margin: 2px 0;
    transition: .25s ease-out;
    background-color: #141414;
}
.menu-bar-2 {
    width: 12px;
    height: 2px;
    transition: .25s ease-out;
    background-color: #141414;
    margin: 2px 0 2px 5px;
}
.menu-bar-3 {
    width: 17px;
    height: 2px;
    margin: 2px 0;
    transition: .25s ease-out;
    background-color: #141414;
}
.mainDiv {
    box-shadow: 0 3px #ededed;
}

.footerInner {
    max-width: 1140px;
    margin: 0 auto !important;
}
.footerInner ul li a {
    text-decoration: none;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    line-height: 1;
    color: #000;
}

.footerInner ul {
    padding: 0;
    gap: 16px;
    margin-bottom: 18px;
}
.footerInner ul li {
    list-style: none;
    margin-bottom: 14px;
}
.footerInner h4 {
    margin: 30px 0 20px;
    font-size: 18px;
    font-weight: 600;
}
ul.guides li a i.fa.fa-facebook {
    padding: 6px 10px !important;
}

ul.guides li a i {
    color: #fff;
    background: #000;
    padding: 7px 8px;
    border-radius: 50px;
    font-size: 15px;
}
.copyrightMenu {
    max-width: 1140px;
    margin: 0 auto;
}
.copyrightMenu ul li a {
    color: #000;
    text-decoration: none;
}

.copyrightMenu ul li {
    list-style: none;
}
.copyrightMenu ul {
    padding: 0 !important;
    gap: 30px;
}
.copyrightMenu {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
}
div#sidebar {
    padding: 50px 0 0;
    text-align: left;
}
div#sidebar {
    padding: 50px 0 0;
    text-align: left;
    background: #141414;
    width: 18vw;
    overflow-x: hidden;
    z-index: 5000;
    box-shadow: none;
    transition: all .25s ease-out;
}
.offcanvas-body ul li {
    background: transparent !important;
    border: none;
    border-bottom: solid 1px #464646;
    padding: 14px !important;
}
.offcanvas-body ul li a{
    text-decoration: none;
    color: #fff;
}
button.btn-close.text-reset {
    background: #fff;
    right: 34px;
    position: absolute;
}
.offcanvas-body {
    padding: 0;
}

/* MAIN CONTENT */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.sectionInput {
    flex-wrap: wrap;
    flex-direction: column;
}
.sectionInput input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sectionInput h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}
span.green {
    color: #00a94e;
}
.sectionImage {
    float: right;
    margin-right: 70px;
}
input[type="submit"] {
    background-color: #00a94e;
    color: #fff;
    border: none;
}
.houseandPost {
    margin-top: 50px !important;
    margin-bottom: 120px;
    padding: 50px 114px !important;
    align-items: center;    
    background: #EDF3EE;
    border-radius: 27px !important;
}
.sectionInput p i {
    color: #00a94e;
    font-size: 18px;
}
.sectionInput p {
    font-weight: 500;
    font-size: 17px;
}
.steps {
    margin-top: 50px !important;
    margin-bottom: 120px;
    padding: 50px 114px !important;
    align-items: center;  
    background: #EDF3EE;
    border-radius: 27px !important;
}
.steps h2.text-center {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 49px;
}
.steps h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 14px;
}
.steps p {
    font-size: 16px;
    line-height: 18px;
}
.stepstart img {
    width: 116px;
}
.col-md-6.videoContent {
    padding: 75px 60px !important;
    background: #f5e9ed;
}
.col-md-6.videomain {
    padding: 75px 60px !important;
    background: #ecd5de;
}
.pinkborder {
    border: 3px solid #D8A7B9;
}
.row.videosection {
    background: #f5e9ed;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 120px;
}
.videoContent h2 {
    font-weight: 700;
    font-size: 36px;
}
.videoContent p {
    font-size: 15px;
    line-height: 26px;
    margin-top: 21px;
}

/* SLIDER REVIEWS */
